@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');



/*
 	1.0 - Normalize
 */
 
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
 
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px; /*  base font size  15px= 1em*/
	margin: 0;
}
 
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
 
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
 
audio:not([controls]) {
    display: none;
    height: 0;
}
 
[hidden],
template {
    display: none;
}
 
a {
    background-color: transparent;
}
 
 
abbr[title] {
    border-bottom: 1px dotted;
}
 
b,
strong {
    font-weight: 700;
}
 
small {
    font-size: 80%;
}
 
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
 
sup {
    top: -0.5em;
}
 
sub {
    bottom: -0.25em;
}
 
img {
    border: 0;
}
 
svg:not(:root) {
    overflow: hidden;
}
 
figure {
    margin: 0;
}
 
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
 
code,
kbd,
pre,
samp {
    font-size: 1em;
}
 
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
 
select {
    text-transform: none;
}
 
button {
    overflow: visible;
}
 
button,
input,
select,
textarea {
    max-width: 100%;
}
 
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
 
button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}
 
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
 
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}
 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
 
input[type="search"] {
    -webkit-appearance: textfield;
}
 
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
 
fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}
 
fieldset > :last-child {
    margin-bottom: 0;
}
 
legend {
    border: 0;
    padding: 0;
}
 
textarea {
    overflow: auto;
    vertical-align: top;
}
 
optgroup {
    font-weight: bold;
}
 
/**
 * 2.0 - Typography
 */
 
body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
 
p {
    margin: 0 0 1.75em;
}
 
dfn,
cite,
em,
i {
    font-style: italic;
}
 
blockquote {
    border: 1px solid #e9e9e9; 
    color: #939595;
    font-size: 17px; 
    font-style: italic;
    line-height: 28px; 
    font-weight: 700;
    padding: 30px 25px 25px 80px;
    position: relative;
}
blockquote>p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #939595;
}
blockquote:after {
    content: "\f10d" !important;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    font: normal normal normal 48px/1 FontAwesome;
    color: #e9e9e9;
}
 
blockquote,
q {
    quotes: none;
}
 
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
 
blockquote p {
    margin-bottom: 1.4736842105em;
}
 
blockquote cite,
blockquote small {
    color: #1a1a1a;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}
 
blockquote cite:before,
blockquote small:before {
    content: "\2014\00a0";
}
 
blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}
 
blockquote strong,
blockquote b {
    font-weight: 400;
}
 
blockquote > :last-child {
    margin-bottom: 0;
}
 
address {
    color: #939595;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10px;
}
 
code,
kbd,
tt,
var,
samp,
pre {
    font-family: 'Open Sans', sans-serif;
}
 
pre {
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
 
code {
    background-color: #d1d1d1;
    padding: 0.125em 0.25em;
}
 
abbr,
acronym {
    border-bottom: 1px dotted #d1d1d1;
    cursor: help;
}
 
mark,
ins {
    background: #007acc;
    color: #fff;
    padding: 0.125em 0.25em;
    text-decoration: none;
}
 
big {
    font-size: 125%;
}
 
 
/**
 * 3.0 - Elements
 */
 
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
 
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}
hr {
    background-color: #d1d1d1;
    border: 0;
    height: 1px;
    margin: 0 0 1.75em;
}
 
ul,
ol {
    margin: 0 0 1.75em 1.25em;
    padding: 0;
}
 
ul {
    list-style: disc;
}
 
ol {
    list-style: decimal;
    margin-left: 1.5em;
}
 
li > ul,
li > ol {
    margin-bottom: 0;
}
 
dl {
    margin: 0 0 1.75em;
}
 
dt {
    font-weight: 700;
}
 
dd {
    margin: 0 0 1.75em;
}
 
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}
 
del {
    opacity: 0.8;
}
 
table,
th,
td {
    border: 1px solid #d1d1d1;
}
 
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}
 
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
 
th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
 
td {
    border-width: 0 1px 1px 0;
}
 
th,
td {
    padding: 0.4375em;
}
 
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #686868;
    font-family: 'Open Sans', sans-serif;
}
 
:-moz-placeholder {
    color: #686868;
    font-family: 'Open Sans', sans-serif;
}
 
::-moz-placeholder {
    color: #686868;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}
 
:-ms-input-placeholder {
    color: #686868;
    font-family: 'Open Sans', sans-serif;
}
 
 
/**
 * 4.0 - Forms
 */
 
input {
    line-height: normal;
}
 
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}
 
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #007acc;
}
 
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}
 
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}
 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    background-color: #fff;
    border-color: #007acc;
    color: #1a1a1a;
    outline: 0;
}
 
.post-password-form {
    margin-bottom: 1.75em;
}
 
.post-password-form label {
    color: #686868;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}
 
.post-password-form input[type="password"] {
    margin-top: 0.4375em;
}
 
.post-password-form > :last-child {
    margin-bottom: 0;
}
 
/**
 * 5.0 - Alignments
 */
 
.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}
 
.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}
 
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}
 
blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}
 
blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}
 
blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}
 
 
/**
 * 6.0 - Clearings
 */
 
.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
    content: "";
    display: table;
}
 
.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
    clear: both;
}
 
/**
 * 7 - Galleries
 */
 
.gallery {
    margin: 0 -1.1666667% 1.75em;
}
 
.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
 
.gallery-columns-1 .gallery-item {
    max-width: 100%;
}
 
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
 
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
 
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
 
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
 
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
 
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
 
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
 
.gallery-icon img {
    margin: 0 auto;
}
 
.gallery-caption {
    color: #686868;
    display: block;
    font-size: 0.8125rem;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
}
 
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}














/*=========================================
	Reset CSS
===========================================*/

h1,h2, h3,h4,h5,h6 {
	line-height: 24px;
	color: #272b2c;
	font-weight: 700;
	margin: 0;
    text-transform: uppercase;
}
h1,h2, h3,h4 {
    padding: 10px 0;
}
h5,h6 {
    padding-bottom: 5px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 2.26em;
}
h3 {
	font-size: 1.86em;
}
h4 {
	font-size: 1.46em;
}
h5 {
	font-size: 1.33em;
}
h6 {
	font-size: 1.2em;
}
p {
	font-size: 1em;
	color: #636667;
	line-height: 26px;
	margin: 0;
	padding-bottom: 20px;
}
li {
	list-style: none;
}
a {
    color: #636667;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus{
	text-decoration: none;
    color: #08c1e0;
}


/*=========================================
    Custom CSS
===========================================*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background: linear-gradient(to right, #7cc576, #086f75);
  /* Set a background color */
  color: #fff;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 10px; }

#myBtn i {
  height: 20px;
  width: 20px;
  font-size: 25px; }

.section-bg{
    background-color: #f5f5f5;
}

.section-padding{
    padding: 100px 0;
}

.section-title{
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 20px 20px 30px 20px;
}

.section-title p {
    margin: 15px 0;
}

.section-title h2{
    position: relative;
    padding: 15px;
}

.section-title h2:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
    width: 90px;
    height: 2px;
    background-color: #85af4d;
}

.header-section{
    
}

.header-section .header-top {
  overflow: hidden;
  background: linear-gradient(to right, #7cc576, #086f75);
  padding: 0; }
  .header-section .header-top .contact {
    float: left;
    padding: 15px 0; }
    .header-section .header-top .contact .tpa {
      list-style: none;
      margin: 0;
      padding: 0; }
      .header-section .header-top .contact .tpa li {
        display: inline-block;
        margin-right: 7px; }
        .header-section .header-top .contact .tpa li span {
          font-size: 12px;
          color: #fff; }
        .header-section .header-top .contact .tpa li i {
          color: #fff; }
  .header-section .header-top .social-site {
    float: right;
    transform: translateY(4px); }
    .header-section .header-top .social-site a {
      margin: 0 5px; }
      .header-section .header-top .social-site a i {
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: rgba(211, 211, 211, 0.5);
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all 0.3s ease; }
      .header-section .header-top .social-site a i:hover {
        color: #7cc576;
        background-color: #fff;
        border: 1px solid linear-gradient(to right, #7cc576, #086f75); }




.header-style2 .primary-menu{
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
}

.primary-menu  {
    
}



.fixed-add {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

.nav-header{
    float: left;
    font-family: 'Oswald', sans-serif;
}

.nav-header .logo{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 28px 0;
    display: block;
}

.nav-menuarea{
    
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    text-align: right;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.8);
    font-size: 30px;
    display: none;
}

.nav-menu{
    float: right;
    margin: 0;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: #fff;
    display: block;
    padding: 34px 20px;
    border-bottom: 2px solid transparent;
}

.nav-menu li .custom-active{
    color: #95ef17;
}

.nav-menu li a:hover{
    color: #95ef17;
    border-bottom: 2px solid #95ef17;
}

.nav-menu li a:focus{
    color: #95ef17;
    border-bottom: 2px solid #95ef17;
}


.slider-section{

}
.item{
    height: 100vh;
}

.slider-style2 .item{
    height: calc(100vh - 65px);
}

.style1{
    background-image: url('../../assets/images/slider/b3.jpg');
}

.style2{
    background-image: url('../../assets/images/slider/b4.jpg');
}

.style3{
    background-image: url('../../assets/images/slider/b7.jpg');
}


.slider-content{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50px);
    text-align: center;
}




.text h1{
    font-size: 52px;
    color: #fff;
    padding: 10px 0 30px 0;
    display: block;
}

.text h5{
    text-transform: none;
    color: #fff;
    padding: 20px 0 20px 0;
}

/*.style2 .text h1{
    color: rgba(0,0,0,.8);
    margin-bottom: 20px;
}

.style2 .text h5{
    text-transform: none;
    color: #e87f17;
}

.style3 .text h5{
    text-transform: none;
    color: #e87f17;
}*/

.custom-btn{
    color: #fff;
    background-color: #a81439;
    border-radius: 17px;
    margin-right: 10px;
    padding: 7px 20px;
    border: 1px solid #a81439;
    -webkit-animation-delay: .7s;
}

.custom-btn:last-child{
    background-color: #85af4d;
    border: 1px solid #85af4d;
}

.custom-btn:last-child:hover{
    background-color: #fff;
    color: #85af4d;
    border: 1px solid #85af4d;  
}

.custom-btn:hover{
    background-color: #fff;
    color: #a81439;
    border: 1px solid #a81439;
}


.about-section{}

.about-item{
    width: 50%;
    float: left;
}

.about-caption h3{
    padding: 20px 0;
}

.about-style2 .about-caption {
    padding: 50px 0 20px 0;
}

.about-style2 .about-caption h3{
    padding: 10px 0 30px 0;
}

.about-inner{
    padding: 20px;
}

.about-image img{
    width: 100%;
    transform: translateY(57px);
}

.about-content{
    padding: 0 35px 10px 0px;
}

.about-content h3{
    padding: 0 0 20px 0;
    display: block;
}

.about-progress{
    transform: translateY(-13px);
}

.about-style4 .about-progress{
    padding: 45px 0;
}



.specialization h3{
    padding: 20px 0;
}




.about-progress p{
    padding: 7px;
    float: left;
}

.about-progress span{
    padding: 7px;
    float: right;
}

.progress-item{
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-caption{
    overflow: hidden;
}

.progress{
    border-radius: 14px;
    box-shadow: none;
}

.progress-bar{
    background-color: #85af4d;
    border-radius: 14px;
}




.about-style3 .about-caption {
    padding: 60px 0 20px 0;
}


.video i{
    float: left;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #85af4d
}

.video-icon{
    float: left;
}

.video-caption{
    margin-left: 10px;
    transform: translateY(12px);
    float: left;
}


.service-item{
    width: 33.33%;
    float: left;
}

.service-inner{
    padding: 45px;
}

.service-inner i{
    width: 50px;
    height: 50px;
    font-size: 26px;
    margin: auto;
    color: #fff;
    background-color: #85af4d;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    display: block;
}

.service-inner h4{
    margin-top: 20px;
    text-align: center;
    display: block;
}

.service-inner p{
    text-align: justify;
}

.process-item{
    width: 25%;
    float: left;
}

.flow{
    padding: 7px;
}

.process-inner{
    padding: 20px;
}

.process-inner span{
    text-align: center;
    color: #85af4d;
    float: left;
    margin-right: 5px;
}

.process-inner span:first-child{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #85af4d;
    color: #fff;
    float: left;
    margin-right: 3px;
}

.process-inner i{
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    background-color: #85af4d;
    border-radius: 50%;
    color: #fff;
}

.process-content{
    padding: 20px 0 10px 10px;
}


.gallery-section{
    overflow: hidden;
}

.gallery-item{
    width: 33.33%;
    float: left;
}

.gallery-item img{
    width: 100%;
}

.gallery-inner{
    position: relative;
}



.gallery-inner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    transition: all .3s ease;
    transform: scaleX(0);

}

.gallery-inner:hover:after{
    transform: scaleX(1);
}

.overlay-icon1{
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    z-index: 2;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    transition: all .5s ease;
}


.gallery-inner:hover .overlay-icon1{
    transform: translateY(-50%) scale(1.29);
    opacity: 1;
}



.overlay-icon1 i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    background-color: #85af4d; 
    transition: all .3s ease;
}

.overlay-icon1 i:hover{
    color: #85af4d;
    background-color: #fff;
}





.testimonial-section{
    overflow: hidden;
}

.swiper-container{
    overflow: hidden;
    padding-bottom: 50px;
}

.swiper-slide{
    text-align: center;
}

.quotation{
    margin-bottom: 50px;
}

.quotation i{
    font-size: 50px;
    color: #85af4d;
    margin-right: 15px;
}

.comments{
    width: 700px;
    margin: auto;
    padding: 10px 20px 30px 20px;
}

.identity {
    padding: 40px;
}

.identity img{
    border-radius: 50%;
}

.identity h5{
    padding: 20px 10px 5px 10px;
}

.controler {
    position: absolute;
    bottom: 20%;
    transform: translateY(90px);
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    text-align: center;
    font-size: 20px;
    color: #636667;
    margin: 2px;
    line-height: 30px;
    transition: all .2s ease;
    overflow: hidden;
    border: 1px solid #636667;
}

.controler:hover{
    background-color: #85af4d;
    color: #fff;
}
.controler.left-controler {
    right: 50%;
}

.controler.right-controler {
    left: 50%;
}

.contact-item1{
    width: 60%;
    float: left;
}

.contact-item2{
    width: 40%;
    float: left;
}

.contact-inner{
    padding: 20px;
}

.form-btn{
    padding: 20px 10px 20px 10px;
    float: left;
}

form .name{
    position: relative;
    margin-bottom: 15px;

}

.overlay-icon{
    position: absolute;
    top: 7px;
    left: 10px;
}

.overlay-icon i{
    font-size: 18px;
    color: #85af4d;
}

form .name input{
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;
   padding: 10px 10px 10px 35px;
}

form .message{
    position: relative;
}

form .message textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;
    padding: 8px 10px 30px 35px;
}

.contact textarea:focus,  input:focus,  input:active {
    border-color: #85af4d;
}

input[type="text"]:focus{
    border-color: #85af4d;
}

.adress{
    margin: 0;
    padding: 0;
}

.adress li{
    overflow: hidden;
    padding: 10px 10px;
}

.adress-icon{
    float: left;
    margin-right: 10px;
}

.adress-icon i{
    height: 30px;
    width: 30px;
    text-align: center;
    color: #85af4d;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #636667;
    cursor: pointer;
}

.adress-detail{
    float: left;
}

.adress-detail p{
    padding: 0;
}

.adress-detail a:hover{
    color: #85af4d;
}

.adress-detail a:focus{
    color: #85af4d;
}

.footer-section{
    padding-top: 50px;
}

.social-site{
    padding: 10px 0;
}

.social-site i{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #636667;
    cursor: pointer;
}

.social-site a:hover{
    color: #fff;
}

.social-site a i:hover{
    color: #fff;
    background-color: #85af4d; 
}

.item-detail a {
    position: relative;
}

.item-detail a {
    display: block;
    padding: 0;
}


.item-detail a:hover{
    color: #85af4d;
    
}

.item-detail .adress li i{
    color: #636667;
    border: none;
}

.item-heading h4{
    text-transform: none;
    color: #636667;
}

.footer-bottom{
    text-align: center;
    padding-top: 10px;
}

.footer-bottom p i{
    color: #85af4d;
}

.footer-bottom p a{
    color: #85af4d;
}


.adress1{
    margin: 0;
    padding: 15px 0;
}

.adress1 li{
    overflow: hidden;
    padding: 10px 10px;
}

.adress-icon1{
    float: left;
    margin-right: 10px;
}

.adress-icon1 i{
    height: 30px;
    width: 30px;
    text-align: center;
    color: #636667;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.adress-detail1{
    float: left;
}

.adress-detail1 p{
    padding: 0;
}

.adress-detail1 a:hover{
    color: #85af4d;
}

.adress-detail1 a:focus{
    color: #85af4d;
}



/* .......... Blog section ...........*/

.blog-section{
    overflow: hidden;
}

.blog-item{
    width: 33.33%;
    float: left;
    
}

.blog-inner:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0, .2)
}

.blog-inner:hover .post-thumb a img{
    transform: scale(1.1);
}

.blog-inner{
    margin: 15px;
    transition: all .3s ease;
}

.blog-inner:hover .post-content{
    transform: scaleY(1);
}

.blog-inner:hover .read-more{
    transform: scaleY(1);
}

.post-thumb{
    overflow: hidden;
}

.post-thumb img{
    width: 100%;
    transition: all .3s ease;
}

.post-content{
    overflow: hidden;
    padding: 20px;
    position: relative;
    background-color: #fff;
    transition: all .3s ease;
}

.post-content:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 90%;
    height: 1px;
    background-color: #bec7d6;
}

.post-content a h4{
    font-size: 20px;
    padding-top: 0;
    transition: all .3s ease;
    text-transform: capitalize;
}

.blog-inner:hover .post-content a h4{
    color: #85af4d;
}

.read-more{
    padding: 20px 17px;
    overflow: hidden;
    background-color: #fff;
    transition: all .3s ease;
}

.read-more p{
    float: left;
}

.read-more a{
    float: right;
}


.read-more a:hover{
    color: #85af4d;
}


.read-more a:focus{
    color: #85af4d;
}


/*.... blog 2...*/

.blog-thumb{
    overflow:hidden;
    position: relative;

}

.blog-inner:hover .blog-thumb img{
    transform: scale(1.1);
}

.blog-inner:hover .blog-content{
    background-color: rgba(0,0,0,.5);
}

.blog-inner:hover .blog-content a h4{
    color: #fff;

}

.blog-thumb img{
    width: 100%; 
    transition: all .3s ease;
}

.blog-content{
    position: absolute;
    text-align: center;
    padding: 0 10px;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(211,211,211, .5);
    transition: all .3s ease;
}

.blog-inner .blog-content:hover{
    background-color: #85af4d;
}

.blog-content a h4{
    font-size: 16px;
    transition: all .3s ease;
}


.blog-inner .blog-content a h4:hover{
    color: #fff;

}


/*...... Pricing-plan....*/

.pricing-section{}

.pricing-item{
    width: 25%;
    float: left;
}

.pricing-inner{
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    margin: 10px;
    transition: all .3s ease;
}

.pricing-inner:hover{
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2)
}

.price-heading{
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.5);
    transition: all .3s ease;
    padding: 10px;
}

.price-heading h4{
    color: #fff;
}

.pricing-inner:hover .price{
    background-color: #85af4d;
}

.pricing-inner:hover .price-heading{
    background-color: #85af4d;
}

.price{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    width: 100px;
    height: 100px;
    transition: all .3s ease;
}

.price span{
    font-size: 22px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
}



.pricing-plan{
    padding: 15px 0;
    margin: 0;
}

.pricing-plan li{
    position: relative;
    padding: 10px 0;
}

.pricing-plan li:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 70%;
    height: 1px;
    background-color: rgba(0,0,0,.3);
}

.pricing-plan li a{
    
}

.pricing-plan li a:hover{
    color: #85af4d;
}

.price{
    padding: 15px;
}


.price-btn{
    padding: 20px;
}




